@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato&display=swap');
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);
.text {
  font-family: "Karla";
}

.title {
  font-family: "Lato";
  font-weight: 700;
}

.svg-inline--fa path {
  fill: white;;
}
